body{
  position: relative;
  height: auto;
  background-color: #292929;
  overflow-x: hidden;
}
#img-wrap{
  position: relative;
  width: 100%;
  height: 461px;
  .slide-item{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
  }
  .team-words-wrap{
    position: absolute;
    right:0;
    top:0;
    width: 263px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  .team-words{
    position: absolute;
    left: 25px;
    top:25px;
    width: 220px;
    height: 450px;
    background-image: url("../img/team_words.png");
    background-repeat: no-repeat;
    z-index: 2;
  }
  .team-bylogo{
    position: absolute;
    width: 34px;
    height: 42px;
  }
  .item1{
    left: 0;
    .team-words{
      background-position: 0 0;
    }
    .team-bylogo{
      right:21px;
      bottom: 17px;
    }
  }
  .item2{
    left: 0;
    .team-words{
      background-position: -250px 0;
    }
  }
  .item3{
    left: 0;
    .team-words{
      background-position: -500px 0;
    }
    .team-bylogo{
      left:168px;
      top: 150px;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}
#slide-button{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #292929;
  overflow: hidden;
}
span.line-through{
  position: absolute;
  top:11px;
  width: 370px;
  height:1px;
  background-color: #ffffff;
  vertical-align: middle;
}
#button-list{
  position: relative;
  height: 10px;
  margin:25px auto 0;
  padding: 0 10px;
  width: 380px;
  text-align: justify;
  text-justify:distribute-all-lines;
//  text-decoration: underline;
  color: #fff;
  .button-item{
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom:1;
    height:10px;
    width: 10px;
    background-color: #fa9a1c;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: baseline;
    &.now,&:hover{
      border-radius: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.now .hover-cover,&:hover .hover-cover{
      visibility: visible;
      -moz-animation:bounceIn .8s linear infinite  forwards;
      -ms-animation:bounceIn .8s linear infinite  forwards;
      -o-animation:bounceIn .8s linear infinite  forwards;
      -webkit-animation:bounceIn .8s linear infinite  forwards;
      animation:bounceIn .8s linear infinite  forwards;
    }

    .hover-cover{
      position: absolute;
      left: -5px;
      top: -5px;
      height: 9px;
      width: 9px;
//      -webkit-transform: rotate(45deg);
//      -moz-transform: rotate(45deg);
//      -ms-transform: rotate(45deg);
//      -o-transform: rotate(45deg);
//      transform: rotate(45deg);
      border:5px solid #fff;
      visibility: hidden;
    }
  }
  &:after{
    content:'';
    display:inline-block;
    width:100%;
    height:0;
    overflow:hidden;
  }
}
.slideOutLeft{
  z-index: 0;
  -moz-animation:slideOutLeft 1s;
  -ms-animation:slideOutLeft 1s;
  -o-animation:slideOutLeft 1s;
  -webkit-animation:slideOutLeft 1s;
  animation:slideOutLeft 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slideInRight{
  z-index: 1;
  -moz-animation:slideInRight 1s;
  -ms-animation:slideInRight 1s;
  -o-animation:slideInRight 1s;
  -webkit-animation:slideInRight 1s;
  animation:slideInRight 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.slideOutRight{
  z-index: 1;
  -moz-animation:slideOutRight 1s;
  -ms-animation:slideOutRight 1s;
  -o-animation:slideOutRight 1s;
  -webkit-animation:slideOutRight 1s;
  animation:slideOutRight 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@wordsDuration:1s;
.team-words-wrap.slideInRight{
  -moz-animation:slideInRight @wordsDuration;
  -ms-animation:slideInRight @wordsDuration;
  -o-animation:slideInRight @wordsDuration;
  -webkit-animation:slideInRight @wordsDuration;
  animation:slideInRight @wordsDuration;
}
.team-words-wrap.slideOutRight{
  z-index: 1;
  -moz-animation:slideOutRight @wordsDuration;
  -ms-animation:slideOutRight @wordsDuration;
  -o-animation:slideOutRight @wordsDuration;
  -webkit-animation:slideOutRight @wordsDuration;
  animation:slideOutRight @wordsDuration;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}